
.controller {
    &__dropboxInput {
        padding: space(1);
        display: block!important;

        .JDtagInput__tag {
            display: flex;
            justify-content: space-between;
        }

        .JDtagInput__input {
            font-size: $typho-small;
            width: 100%;
        }
    }
}