$header-bgcolor: $primary-color;
$header-white-1: $grey-level0;

.header {
    &__top {
        position: relative;
        height: space(6);
        color: $header-white-1;
        background: $header-bgcolor;
        border-bottom: 1px solid $grey-level0;
    }

    &__version {
        position: absolute;
        right: space(4);
        bottom: space(2);
    }

    &__bottom {
        position: relative;
        height: space(12);
        background: $header-bgcolor;

        path {
            fill: $header-white-1;
        }
    }

    &__items {
        position: absolute;
        top: 50%;
        right: space(4);
        transform: translate(0, -50%);

        .iconWrapper {
            display: inline-block;
            margin-right: space(3);

            &:last-child() {
                margin-right: 0;
            }
        }
    }
}

@media screen and (min-width:600px) {}

@media screen and (min-width:1024px) {}