$header-bgcolor: $primary-color;
$header-white-1: $grey-level0;


.header {

    .iconSearch {
        color: white !important;
    }

    .iconSearch--open {
        color: $html-color !important;
    }

    &__top {
        position: relative;
        height: $header-top-height;
        color: $header-white-1;
        background: $header-bgcolor;
        border-bottom: 1px solid $grey-level0;
    }

    &__version {
        position: absolute;
        right: space(4);
        bottom: space(2);
    }

    &__bottom {
        position: relative;
        height: $header-bottom-height;
        background: $header-bgcolor;
        padding: space(4);

    }

    &__items {
        height: 100%;
    }

}

@media screen and (min-width:600px) {}

@media screen and (min-width:1024px) {}