.JDselection {
    padding: space(4) 0;
    border-top: 1px solid $grey-level0;
    border-bottom: 1px solid $grey-level0;

    &+.JDselection {
        border-top: none;
    }

    &:first-child {
        border-top: none;
    }

    &:last-child {
        border-bottom: none;
    }
}