.Sidebar {
    position: fixed;
    z-index: $z-index-7;
    top: 0;
    left: 0;
    width: $sidebar-width;
    height: 100vh;
    @include shadow(1);

    &--close {
        display: none;
    }

    &__head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding: space(2);
        min-height: $header-height;
        color: white;
        background: $primary-color;
    }

    &__latest {
        opacity: 0.5;
    }

    &__memberNav {
        font-size: $typho-small;

        .off {
            display: none;
        }

        a {
            display: inline-block;
            position: relative;
            padding: 0 space(2);
            font-weight: bold;

            &.Sidebar__login {
                padding-left: 0;
            }

            &.SideBar__logout {
                padding-left: 0;

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 2px;
                    height: 100%;
                    background: white;
                }
            }
        }
    }

    &__close {
        position: absolute;
        bottom: space(5);
        right: space(4);
    }

    &__menu {
        display: flex;
        flex-direction: row;
        min-height: 85%;
    }

    &__mainMenu {
        flex: 1;
        background: white;

        .mainMenu__list {
            display: block;
            padding: space(1) space(1);

            &.on {
                .mainMenu__link {
                    color: white;
                    background: $primary-color;
                }
            }
        }

        .mainMenu__link {
            display: block;
            padding: space(1) 0;
            text-align: center;
            border-radius: $br2;
            transition: background 300ms;

            .iconWrapper {
                display: block;
                margin: 0 auto space(1) auto;
            }

            &:hover {
                background: $primary-color;
                color: white;
            }
        }
    }

    &__subMenu {
        flex: 2;
        background: $grey-level0;

        .subMenu__list {
            padding-left: space(4);
            border-bottom: 1px solid $grey-level1;
        }

        .subMenu__link {
            display: flex;
            align-items: center;
            padding: space(2) 0;
        }
    }

}