.timeblock {
    &--selected {
        border: 2px solid $primary-color!important;
    }
    &--disabled {
        background-color: $grey-level1;
        cursor: none;
        pointer-events: none;
    }
}