html, body, #body, #JDoutWrapper {
    overflow-x: hidden;
}
html {
    overflow-y: hidden!important;
}

.JDflex--vEnd {
    align-items: flex-end;
}

.__react_component_tooltip {
    bottom: unset!important;
}

.JDtextColor--positive {
    color: $positive-color;
}


.JDbox {
    border-radius: $br1;
    border:  $input-border;
}

.rt-noData {
    margin: 20px;
}

.photoFrame  {
    position: relative;
    overflow: visible;
}

.DayPicker--unDisplayNavbar ~ div  {
    display: none;
}

.timepicker__input  {
    &:first-child {
        margin-right: space(1);
    }
}

.counter__inner  {
    border-radius: $br1;
}

.JDhorizen {
    
    width: auto!important;
    margin-left:  0px!important;
    margin-right: 0px!important;
}

.JDflex--around {
    justify-content: space-around;
}

.disabledBadge {
    margin: auto;
}

.JDtagInput {
    &__tags {
        display: flex;
        flex-wrap: wrap;
    }
}

#mainTooltip {
    display: none;
}

#body .counter__btn {
    background-color: transparent;
}

html .container--vps {
    padding-bottom: space(12);
}

.JDlist {
    margin-bottom: 0px;
}

#body .countSelecter {
padding: 0.8rem;
background-color: #d9d9d9;
display: flex;
justify-content: space-around; }
@media only screen and (max-width: 550px) and (min-width: 0px) {
#body .countSelecter {
padding: 0 !important; } }
#body .counter {
display: inline-block; }
#body .counter__btn,
#body .counter .counter__count {
border-radius: 0px;
margin: 0px !important;
font-weight: 600; }
#body .counter__count {
background-color: #d9d9d9; }
#body .counter__btn {
background-color: white;
color: #989898 !important;
border: none; }
#body .counter__btn:disabled {
background-color: #eee; }
#body .counter .react-select__control {
border: none;
border-radius: 0px !important;
border-left: 1px solid #bebebe;
border-right: 1px solid #bebebe; }
#body .counter__inner {
border: 1px solid #bebebe; }

.JDtable .rt-td {
    white-space: pre-line;
}