html, body, #root, #JDoutWrapper {
    overflow-x: hidden;
}
html {
    overflow-y: hidden!important;
}

.JDflex--vEnd {
    align-items: flex-end;
}

.__react_component_tooltip {
    bottom: unset!important;
}


//나중에 지우삼
.JDmodal__body br {
    display:none;
}

.JDbox {
    border-radius: $br1;
    border:  $input-border;
}

.rt-noData {
    margin: 20px;
}

.photoFrame  {
    position: relative;
    overflow: visible;
}

.DayPicker--unDisplayNavbar ~ div  {
    display: none;
}

.timepicker__input  {
    &:first-child {
        margin-right: space(1);
    }
}

.counter__inner  {
    border-radius: $br1;
}

.JDhorizen {
    
    width: auto!important;
}

.JDflex--around {
    justify-content: space-around;
}

.disabledBadge {
    margin: auto;
}

.JDtagInput {
    &__tags {
        display: flex;
        flex-wrap: wrap;
    }
}