html,
body,
#root,
#JDoutWrapper {
    overflow-x: visible;
}

#contentWrapper {
    width: 100%;
}

html {
    @include response($full, desktophd) {
        font-size: 1.1rem; //이것이 모든 타이포에 영향을줌
    }

    font-size: 1rem; //이것이 모든 타이포에 영향을줌

    @include response($tablet) {
        font-size: .9rem; //이것이 모든 타이포에 영향을줌
    }

    @include response($mobile) {
        font-size: 0.8rem; //이것이 모든 타이포에 영향을줌
    }

    @include response($smobile) {
        font-size: 0.75rem; //이것이 모든 타이포에 영향을줌
    }
}