
:root {
    --primary-color: #129a98;
    --primary-color-light: #637796;
    --primary-color-dark: #162743;
    --primary-color-on: #fff;
  }

$standard-line-height: 2.325rem;
$button-height: $standard-line-height;
$input-height: $standard-line-height;
$primary-color : #129a98 !default;
$primary-color-dark : darken(#129a98, 10);
$primary-color-light : lighten(#129a98, 5);

$point-color: #ff6760;

$sidebar-width: 17.625rem;
$main-menu-width: space(12);

$header-height: 3.8rem;

$dottedBtn-border: 2px dotted $grey-level2;


