@import "../system/variables";

$color-statusList-border: #808080;
$color-statusNav-border:#808080;
$padding-saleStatus: 0.625rem;

/* :::::::: Title :::::::: */
$fontSize-title: 1.875rem;
$fontsize-subtitle: 1rem;
$margin-title: 1.25rem;
$margin-bottom-subtitle: 1.875rem;

/* :::::::: Items :::::::: */
$color-itemBorder : #808080;
$color-itemDeco:#808080;
$color-itembg:rgba(167, 167, 167, 0.2);
$color-itemBorderOn :#ff0000;
$color-itemDecoOn:#ff0000;
$color-itembgOn:rgba(233, 15, 15, 0.2);

/* :::::::: Btns :::::::: */
$color-viewmore-bg:$primary-color;
$color-viewmore-border:$primary-color;



/* ::::::::::: Override ::::::::::: */

.container {
  border: none;
}

.container {
  max-width: 1200px;
}

/* ::::::::::: Dashboard ::::::::::: */

.dashboard {

  .titleSection {
    font-weight: bold;
    text-align: center;
  }

  &__title {
    margin: $margin-title 0;
    font-size: $fontSize-title;
    @extend .titleSection;
  }

  &__subtitle {
    margin: 0 0 $margin-bottom-subtitle 0;
    font-size: $fontsize-subtitle;
    @extend .titleSection;
  }

  &__saleStatus {
    padding: $padding-saleStatus;
    background: white;

    .statusNav {
      display:flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0.9375rem;

      &__date {
        margin-right:0.9375rem;
        font-size: 1.5625rem;
        font-weight: bold;
      }

      &__arrow {
        display:flex;
      }

      .iconWrapper {
        display:flex;
        justify-content: center;
        align-items: center;
        width:30px; height:30px;
        border:1px solid $color-statusNav-border; 
      }

    }
    .statusListWrap {
      display: flex;
      flex-wrap:wrap;
      .statusList {
        padding: 0.625rem;
        width:100%;
        border: 1px solid $color-statusList-border;
        border-right: none;

        &:nth-last-child(1) {
          border-right: 1px solid $color-statusList-border;
        }

        &__date {
          display: flex;
          justify-content: space-between;
          font-size: 0.8125rem;

          &.selected {
            font-weight:bold;
          }

        }

        &__itemBlock {
          padding-top:0.9375rem;
          &.on {
            .items {
              border:1px solid $color-itemBorderOn;
              background:$color-itembgOn;
              &__deco {
                  background:$color-itemDecoOn;
              }
            }
          }

          .items {
            display:flex;
            position:relative;
            margin-bottom:0.625rem;
            padding:0.625rem;
            border:1px solid $color-itemBorder;
            border-radius:5px;
            background:$color-itembg;
            &.selected {
                border:1px solid $color-itemBorderOn;
                background:$color-itembgOn;
                .items__deco {
                background:$color-itemDecoOn;
                }
            }
            &__deco {
                margin-right:5px;
                width:5px;
                border-radius:5px;
                background:$color-itemDeco;
            }
            &__info {
                font-size:0.75rem;
            }
            &__name {
                margin-bottom:0.3125rem;
                font-weight:bold;
            }

          }

          .statusMore {
              display:block;
              position:relative;
              margin-bottom:0.625rem;
              padding:0.625rem;
              font-weight:bold;
              text-align:center;
              color:#ffffff;
              background:$color-viewmore-bg;
              border-radius:5px;
              border:$color-viewmore-border;
              transition:background 500ms; 
              &:hover {
                color:$color-viewmore-bg;
                background:#ffffff;
              }
          }

        }
      }
    }
  }
}

@media screen and (min-width: 600px) {

}

@media screen and (min-width: 1024px) {

  .dashboard {

    .titleSection {
      font-weight: bold;
      text-align: center;
    }

    &__title {
      margin: $margin-title 0;
      font-size: $fontSize-title;
    }

    &__subtitle {
      margin: 0 0 $margin-bottom-subtitle 0;
      font-size: $fontsize-subtitle;
    }

    &__saleStatus {
      padding: $padding-saleStatus;
      background: white;

      .statusNav {
        display:flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0.9375rem;

        &__date {
          margin-right:0.9375rem;
          font-size: 1.0625rem;
          font-weight: bold;
        }

        &__arrow {
          display:flex;
        }

        .iconWrapper {
          display:flex;
          justify-content: center;
          align-items: center;
          width:30px; height:30px;
          border:1px solid $color-statusNav-border; 
        }

      }
      .statusListWrap {
        display: flex;
        flex-wrap:nowrap;
        .statusList {
          flex: 1;
          padding: 0.625rem;
          width:auto;
          border: 1px solid $color-statusList-border;
          border-right: none;

          &:nth-last-child(1) {
            border-right: 1px solid $color-statusList-border;
          }

          &__date {
            display: flex;
            justify-content: space-between;
            font-size: 0.8125rem;
            &.selected {
              font-weight:bold;
            }
          }

          &__itemBlock {
            padding-top:0.9375rem;
            &.on {
              .items {
                border:1px solid $color-itemBorderOn;
                background:$color-itembgOn;
                &__deco {
                    background:$color-itemDecoOn;
                }
              }
            }

            .items {
              display:flex;
              position:relative;
              margin-bottom:0.625rem;
              padding:0.625rem;
              border:1px solid $color-itemBorder;
              border-radius:5px;
              background:$color-itembg;
              &.selected {
                  border:1px solid $color-itemBorderOn;
                  background:$color-itembgOn;
                  .items__deco {
                  background:$color-itemDecoOn;
                  }
              }
              &__deco {
                  margin-right:5px;
                  width:5px;
                  border-radius:5px;
                  background:$color-itemDeco;
              }
              &__info {
                  font-size:0.75rem;
              }
              &__name {
                  margin-bottom:0.3125rem;
                  font-weight:bold;
              }

            }

            .statusMore {
                display:block;
                position:relative;
                margin-bottom:0.625rem;
                padding:0.625rem;
                font-size:0.8125rem;
                color:#ffffff;
                background:$color-viewmore-bg;
                border-radius:5px;
                border:1px solid $color-viewmore-border;
            }
          }
        }
      }
    }
  }

}

@media screen and (min-width: 1600px) {

}
