@import "~@janda-com/front/src/scss/style_config.scss";
@import "./system/variables";
@import "~@janda-com/front/src/scss/system.scss";
@import "~@janda-com/front/src/scss/components.scss";
@import "./components/Components";
@import "./atom/Atom.scss";
@import "./system/system";
@import "./system/hack";
@import "~slick-carousel/slick/slick.css";


.JDglobalFocus {
    outline: 1px auto;
}

.smsTemplates__smsCard {
    min-width: 31%;
    .JDcard__body {
        height: space(10);
        overflow: auto;
    }
}
.smsTemplates__smsCardWrap {
    margin-right: -1 * space(2);
}
.JDmodal__head {
    font-weight: 600;
}

.ProductBookingViewModal {
    width:  1000px;
}

 @keyframes appear {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }


  @keyframes disappear {
    from {
        opacity: 1;
        max-height: 300px;
    }
  
    to {
        max-height: 0px;
        opacity: 0;
        display: none;
    }
  }



.loadingEffect {
    &--disappear {
        animation-duration: 1s;
        animation-name: disappear;
        animation-fill-mode: forwards;
        overflow: hidden;
    }

    &--appear {
        animation-duration: 1s;
        animation-name: appear;
    }
}

canvas {
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}