@import "./system/variables";
@import "~@janda-com/front/src/scss/all.scss";
@import "~@janda-com/janda-table/src/scss/Table.scss";
@import "./components/Components";
@import "./page/Page";

#root.sideOpen #sidePlaceHolder {
    width: $sidebar-width;
    height: 20px;

}

#contentWrapper {
    width: 100%;
}